*{
    box-sizing: border-box;
    overflow: hidden;
    font-family: '標楷體';
}
.main{
    display: flex;
    width: 1024px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    /* padding: 0; */
    margin: 0 auto;
}

/* > 直接下一層 */
/* not 不選 */

/* body 下一層 不要選 .aside .section  */
/* asdie 下一層 *全選 */
/* section 下一層 *全選 */
body>*:not(.aside,.section),
aside>*,
section>*{
    border: 1px solid lightgray;
}

/* .top , .footer , .menu , .update , .marquee , .content{
    border: 1px solid lightgray;
} */

.top{
    flex-basis: 1000px;
    height: 65px;
}

/* left */

.aside{
    display: flex;
    flex-direction: column;
    flex-basis: 215px;
    height: calc(768px - 65px - 20px);
}
.menu{
    flex-basis: calc(100% - 25px);
}
.menu-header{
    /* 社團介紹文字 */
    font-weight: 500;
    font-size: 24px;
    color: #FF00FF;
    text-decoration: underline;
    margin: 20px auto;

    /* text-decoration-color: black;
    text-underline-offset: 5px; */
}

.menu>a{
    display: block;
    margin: 10px auto;
    text-decoration: none;
    width: 200px;
    height: 35px;
    background: url("../images/menu1.png") no-repeat;
    padding-top: 10px;
    font-size: 16px;
    color: #000000;
}

#menuBtn{
    text-decoration: underline;
}

.menu>a:hover{
    background: url("../images/menu2.png") no-repeat;
}

.update{
    flex-basis: 25px;
    color: #000000;
    text-align: center;
    font-size: 16px;
}
iframe{
    width: 100%;
    height: 100%;

}


/* right */
.section{
    display: flex;
    flex-direction: column;
    flex-basis: calc(1000px - 215px);
    /* flex-basis: 770px; */
}
.marquee{
    flex-basis: 29px;
    /* font-family: '標楷體'; */
    font-size: 24px;
    color: #0000ff;

}
marquee{
    width: 770px;
    height: 29px;
}
.content{
    flex-basis: calc(100% - 29px);
}


.footer{
    flex-basis: 1000px;
    height: 20px;
    font-size: 16px;
    text-align: center;

}